html, body {
    background: linear-gradient(to right bottom, red,orange,yellow,green,blue,indigo,violet);
    color:black;
    font-family: 'Staatliches', cursive;
    letter-spacing: 3px;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}
