html, body {
    background-size:100px 50px;
    background-color: rgb(223, 82, 255);
    color:black;
    font-family: 'Staatliches', cursive;
    letter-spacing: 3px;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}
